/********** Template CSS **********/

:root {
    --primary: #1363C6;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
    --font_type: "PT Serif", serif;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
/*** Navbar ***/
.sticky-top {
    top: 0;
    z-index: 1030;
    transition: top 0.5s;
}

.sticky-top.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: 11px 0 !important;
    height: 100px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: #494949;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font_type);
    line-height: 16px;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: red;
    font-weight: bolder;
}

.nav-btn {
    background-color: #D91E18 !important;

    font-size: 12px;
    font-weight: 700;
    font-family: var(--font_type);
    justify-content: center;
    align-items: center;
    line-height: 16px;
    border-radius: 4px;
    width: 112px;
    height: 40px;
    display: flex;
    /* important for flex centering */
    text-align: center;
    /* optional */
    text-decoration: none;
    /* if you want to remove underline */
}

.nav-btn a {
    color: #FFFFFF !important;
    cursor: pointer;
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-collapse {
    margin-top: 10px;
    background-color: white !important;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/* Demo page content */



/*page hero header*/
.aboutUS-page-header {
    min-height: 50vh;
    /* Adjust as needed */
    background-color: black;
    /* Black background */
    position: relative;
    /* To position the image and overlay correctly */

}

.text-about-title {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700 !important;
    font-family: var(--font_type);
}

/* Gradient overlay */
.aboutUS-page-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, black, transparent);
    /* Black fade */
    z-index: 1;
    /* Ensure it's on top of the background but below the text */
}

/* The image */
.aboutUS-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    /* Ensure the image covers the full height of the container */
    width: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Ensures the image fills the container */
    z-index: 0;
    /* Keep the image behind the overlay */
}

.aboutUS-page-header h1 {
    z-index: 2;
    /* Ensure the text stays on top of the background */
    position: relative;

}

/* Mobile Responsive Design */
@media (max-width: 992px) {
    .text-about-title {
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 700 !important;
        font-family: var(--font_type);
    }
}

@media (max-width: 767px) {
    .aboutUS-page-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutUS-image {
        display: block;
        /* Hide the image on mobile */
    }

    .text-about-title {
        color: #FFFFFF;
        font-size: 48px;
        font-weight: 700 !important;
        font-family: var(--font_type);
    }


}

@media (max-width: 450px) {
    .text-about-title {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 700 !important;
        font-family: var(--font_type);
    }

    .text-about-title-div {
        text-align: center;
        justify-content: center !important;
        align-items: center !important;
    }

}

/*.container-custom-mesh {*/
/*    background-color: #000A52;*/
/*    color: white;*/

/*}*/
.container-custom-mesh {
    position: relative;
    background-color: #000A52;
    /* Change to your desired background color */
    padding: 25px;

    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font_type);
    line-height: 56px;
}

.container-custom-mesh::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    /* Extends the background to the left edge */
    width: 100vw;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.about-use-desc {
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font_type);
    padding-left: 198px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .container-custom-mesh {
        padding: 20px;
    }

    .container-custom-mesh::before {
        left: 0;
        width: 100%;
    }

    .about-use-desc {

        padding-left: 0px;
    }
}





/*logo slider */

.home-title-text {
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 99px;
    color: #000000;
    font-size: 40px;
}

.logo-slider-company {
    background: #F0F0F0;
    margin-bottom: 15px;
}

.logo-company-slider img {
    max-width: 80px;
    /* Adjust the size */
    height: auto;
    margin: 0 auto;
    filter: grayscale(0%);
    /* Make the image grey */
}

.cargils-studio-header {
    position: relative;
    padding: 165px 0;
    z-index: 3;
    overflow: hidden;
    margin-top: -160px;
}

.kfc-studio-header {
    position: relative;
    /* padding: 165px 0; */
    z-index: 3;
    overflow: hidden;
    margin-top: -120px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cargils-studio-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/cargills-ceylon--bg.png) center center no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}


.cargils-studio-header .kfc-studio-header .cargils-radio-content img {
    max-width: 100%;
    height: auto;
}

.cargils-title {
    font-family: var(--font_type);
    font-weight: 500;
    color: #000000;
    font-size: 47px;
    line-height: 99px;
}

.cargils-description {
    font-family: var(--font_type);
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    line-height: 56px;
}

.cargils-studio-header .kfc-studio-header .cargils-title {

    margin-bottom: 20px;
}


.logo-slider-item {
    height: 108px !important;
    line-height: 108px;

}

.cargils {}

.swarna img {
    margin-top: 12px;
}

.kfc {}

.logo-slider-item img {
    vertical-align: middle;
}


@media (max-width: 767px) {
    .cargils-title {
        font-family: var(--font_type);
        font-weight: 500;
        color: #000000;
        font-size: 45px;
        line-height: 85px;
    }

    .cargils-description {
        font-family: var(--font_type);
        font-weight: 400;
        color: #000000;
        font-size: 24px;
        line-height: 45px;
        text-align: left;
    }
}

@media (max-width: 450px) {
    .cargils-studio-header .kfc-studio-header {
        /*height: 100vh;*/
        padding: 32px 0;


    }

    .cargils-title {
        font-family: var(--font_type);
        font-weight: 500;
        color: #000000;
        font-size: 29px;
        line-height: 50px;
    }

    .cargils-description {
        font-family: var(--font_type);
        font-weight: 400;
        color: #000000;
        font-size: 24px;
        line-height: 40px;
        text-align: left;
    }

}

@media (max-width: 400px) {
    .cargils-title {
        font-family: var(--font_type);
        font-weight: 500;
        color: #000000;
        font-size: 28px;
        line-height: 75px;
    }

    .cargils-description {
        font-family: var(--font_type);
        font-weight: 400;
        color: #000000;
        font-size: 22px;
        line-height: 35px;
        text-align: left;
    }
}

@media (max-width: 1390px) {
    .home-title-text {
        font-family: var(--font_type);
        font-weight: 700;
        line-height: 60px;
        color: #000000;
        font-size: 30px;
    }
}

@media (max-width: 1062px) {
    .home-title-text {
        font-family: var(--font_type);
        font-weight: 700;
        line-height: 60px;

        color: #000000;
        font-size: 28px;
    }
}

@media (max-width: 450px) {
    .home-title-text {
        font-family: var(--font_type);
        font-weight: 700;
        color: #000000;
        font-size: 25px;
        text-align: center;
        line-height: 65px;
    }
}

/*logo slider end*/

/* *film prod*/
*/

/* Slider Image Styling */
.film-slider {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.text-hero-film {
    font-family: var(--font_type);
    font-weight: 700;
    color: #010659;
    font-size: 47px;
    /* line-height: 99px; */
    margin-bottom: 25px;
}

.text-film-desc {
    font-size: 24px;
    font-family: var(--font_type);
    font-weight: 400;
    color: #000000;
    line-height: 56px;
}

.film-corosol {
    /* padding-top: 165px; */
    padding-top: 40px;
}

/* Apply grayscale to the image by default */
.carousel-item img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    /* Smooth transition */
}

/* Show the real color on hover */
.carousel-item img:hover {
    filter: grayscale(0%);
}

.film-container .col-lg-6 {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ensure the column takes the full height of the container */
}

.film-container .col-lg-6 h2 {
    padding-bottom: 1.5rem;
    /* Adjust spacing for title */
}

.film-container .col-lg-6 p {
    padding-top: 1.5rem;
    /* Adjust spacing for description */
}

.film-container .col-lg-6 .d-flex {
    flex: 1;
    justify-content: space-between;
    /* Distribute the title and description evenly */
}

@media (max-width: 992px) {
    .text-hero-film {
        font-size: 38px;
        line-height: 46px;
    }
}

@media (max-width: 768px) {
    .film-container {
        padding: 20px;
        /* Reduced padding for mobile */
    }

    .film-container .col-lg-6 h2 {
        padding-bottom: 1rem;
        /* Reduced space for title on smaller screens */
    }

    .film-container .col-lg-6 p {
        padding-top: 1rem;
        /* Reduced space for description on smaller screens */
    }

    /* For better alignment of carousel images on mobile */
    .carousel-item img {
        width: 100%;
        /* Ensure images are properly sized on mobile */
    }

    .text-hero-film {
        font-family: var(--font_type);
        font-weight: 700;
        color: #010659;
        font-size: 38px;
        line-height: 46px;
    }

    .film-corosol {
        padding-top: 50px;
    }
}

@media (max-width: 450px) {
    .text-hero-film {
        font-family: var(--font_type);
        font-weight: 700;
        color: #010659;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
    }

    .text-film-desc {
        font-size: 20px;
        font-family: var(--font_type);
        font-weight: 400;
        color: #000000;
        line-height: 56px;
    }
}

@media (max-width: 400px) {
    .text-hero-film {
        font-family: var(--font_type);
        font-weight: 700;
        color: #010659;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
    }

    .text-film-desc {
        font-size: 18px;
        font-family: var(--font_type);
        font-weight: 400;
        color: #000000;
        line-height: 56px;
    }
}


/*end film prod*/


/*Masterpieces*/

.cinema-section {
    padding: 0px 20px;
    background-color: white;
}

.cinema-title {
    font-family: var(--font_type);
    font-weight: 700;
    line-height: 99px;
    color: #000000;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cinema-card {
    margin-bottom: 60px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cinema-content {
    padding: 21px;
}

.cinema-content h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 58px;
    color: #353535;
    margin-bottom: 15px;
}

.cinema-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}


@media (max-width: 1390px) {
    .cinema-title {
        font-family: var(--font_type);
        font-weight: 700;
        line-height: 60px;
        color: #000000;
        font-size: 30px;
    }

    .cinema-content h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #353535;
        margin-bottom: 15px;
    }
}

@media (max-width: 1200px) {

    .cinema-content h3 {
        font-size: 23px;
        font-weight: 700;
        line-height: 25px;
        color: #353535;
        margin-bottom: 15px;
    }
}

@media (max-width: 1062px) {
    .cinema-title {
        font-family: var(--font_type);
        font-weight: 700;
        line-height: 60px;

        color: #000000;
        font-size: 32px;

    }

    .cargils-title {
        font-size: 32px;

    }

    .cargils-description {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .cinema-title {
        font-family: var(--font_type);
        font-weight: 700;
        color: #000000;
        font-size: 25px;
        line-height: 30px;
        text-align: center !important;
    }
}

/*Masterpieces*/


















/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    font-family: var(--font_type);
    font-weight: 500;
    line-height: 36px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255, 255, 255, .5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

@media (max-width: 782px) {
    .footer .copyright {
        padding: 25px 0;
        font-size: 13px;
        font-family: var(--font_type);
        font-weight: 500;
        line-height: 36px;
        border-top: 1px solid rgba(256, 256, 256, .1);
    }
}

@media (min-width: 1.98px) and (max-width: 474.98px) {
    .cargils-description {
        font-size: 16px;
        line-height: 30px;
    }

    .cargils-title {
        font-size: 28px;
        line-height: 85px;
    }
}

@media (min-width: 574.98px) and (max-width: 991.98px) {
    .text-film-desc {
        font-size: 22px;
        line-height: 40px;
    }
}

@media (min-width: 1.98px) and (max-width: 574.98px) {
    .text-film-desc {
        font-size: 20px;
        line-height: 35px;
    }
}

@media (min-width: 1.98px) and (max-width: 475.98px) {
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .cinema-section {
        padding: 0px 20px !important;
    }

    .cargils-studio-header,
    .kfc-studio-header {
        padding-left: 20px !important;
        padding-right: 20px !important;

    }
}